@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto Flex', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    height: 100%;
    margin: 0;
    line-height: 1.5;
    color: #121212;
    background: white;
}

textarea,
input,
button {
    font-size: 1rem;
    font-family: inherit;
    border: none;
    background-color: white;
    margin: 0;
}

button:active {
    box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
    transform: translateY(1px);
}

a {
    color: currentColor;
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

body {
    height: 100%;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}


#search-spinner {
    width: 1rem;
    height: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
    animation: spin 1s infinite linear;
    position: absolute;
    left: 0.625rem;
    top: 0.75rem;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.pending {
    animation: progress 2s infinite ease-in-out;
    animation-delay: 200ms;
}

@keyframes progress {
    0% {
        background: #e3e3e3;
    }

    50% {
        background: hsla(224, 98%, 58%, 0.5);
    }

    100% {
        background: #e3e3e3;
    }
}

.loading {
    opacity: 0.25;
    transition: opacity 200ms;
    transition-delay: 200ms;
}


#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#loading-splash {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loading-splash-spinner {
    width: 3rem;
    height: 3rem;
    border: 0.5rem solid #e3e3e3;
    border-top: 0.5rem solid #3992ff;
    border-radius: 50%;
    animation: spin 1s infinite linear;
    margin-bottom: 1rem;
}
