.header {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.header__nav {
    display: flex;
    align-items: center;
}
